html {
    overflow-y: hidden;
    font-family: "Rubic", sans-serif;
    font-weight: bold;
    overflow-x: hidden;
}

body {
    position: relative;
    transition: 1s;
    color: #fff;
    background-color: #CCCCFF;
    text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

#background {
    position: fixed;
    width: 100%;
    background-color: #333333;
    z-index: 0;
    left:0;
    right:0;
    transition: 2s;
    box-shadow: 0 0 5px 2px rgba(0,0,0,1);
}

#background.contacts {
    top:0;
    height: 100%;
}


nav {
    position: fixed;
    top: 3rem;
    right: 10rem;
    cursor: default;
    z-index: 3;
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #666666;
    font-weight: 500;
    
}

nav a:hover {
    text-shadow: #9c9c9c 0 0 1px;
    
}

nav#line {
    z-index: 0;
}

nav div#line {
    position: fixed;
    top: 3rem;
    right: 10rem;
    border-bottom: 1px solid #5c5c5c;
    padding-bottom: 0.3rem;
    height: 1rem;
    width: 15rem;
    z-index: -1;
    
}

nav div#line.onresize {
    transition: 0;
}

nav div#line.outresize {
    transition: 2s;
}

#content {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    cursor: default;
    
}

#content #about {
    display: block;
    position: absolute;
    font-size: 2rem;
    color: #333333;
    height: auto;
    text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

#content start {
    animation-duration: 3s;
    animation-name: discoloration;
}

@keyframes discoloration {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#content #contacts {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#content #contacts span {
    height: 6rem;
    color: #fff;
    font-size: 4.5rem;
    text-transform: lowercase;
    border: 10px solid;
    border-radius: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 1s;
    max-width: -moz-available;
    overflow: hidden;
}



#content #contacts span#mail:hover {
    color: #990000;
}

#content #contacts span#telegram:hover {
    color: #0099FF;
}

#content #contacts span#linkedin:hover {
    color: #0000CC;
}

#content #contacts span#github:hover {
    color: #171515;
}

#content #contacts span:hover {
    background: rgba(255,255,255, 100%);
    border-color: #fff;
    transition: 1.5s;
}


#content #projects span {
    /*height: 3rem;*/
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-transform: lowercase;
    border: 5px solid;
    border-radius: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: center;
    transition: 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#content #projects span#one-million-pixels:hover {
    background: rgba(0, 68, 3, 100%);
    border-color:rgb(0,68,3);
}

#content #projects span#short-link:hover {
    background: rgb(105, 17, 17);
    border-color: rgb(105, 17, 17);
}

#content #projects span#vacancy:hover {
    background: rgba(0,0,0,1);
    color: #fff;
    border-color: #000;
}

#content #vacancy-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#content #vacancy-list span {
    font-size: 3rem;
    font-weight: 700;
    
    width:35rem;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
    transition: 1s;
}

#content #vacancy-list span:hover {
    color: #CCCCFF;
    /*text-shadow: 2px 2px rgb(0, 0, 0);;*/
}


.hide {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.show {
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

@media (min-device-width: 320px) and (max-device-width: 1240px) and (orientation: portrait) { /*mobile portrait*/
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
    }

    .center#contacts {
        transform: translate(-50%, -45%);
    }

    #content #about {
        display: block;
        position: absolute;
        width: 100%;
        font-size: 2rem;
        color: #333333;
        height: auto;
        text-shadow: 0px 1px 1px rgba(0,0,0,1);
    }

    #content #projects {
        width: 90%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


    #content #projects span {
        /*height: 3rem;*/
        color: #fff;
        font-size: 2rem;
        padding: 1rem;
        text-transform: lowercase;
        border: 5px solid;
        border-radius: 5rem;
        margin-right: 1rem;
        margin-left: 1rem;
        text-align: center;
        transition: 1s;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #background.projects {
        top: 12rem;
        height: 100%;
        margin: 0;
    }

    #background.about {
        top:0;
        height:12rem;
    }

    nav {
        position: fixed;
        top: 7rem;
        right:0;
        cursor: default;
        z-index: 3;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 2rem;
    }

    nav div#line {
        position: fixed;
        top: 7rem;
        left: 0;
        border-bottom: 1px solid #5c5c5c;
        padding-bottom: 2rem;
        height: 1rem;
        width: 100%;
        z-index: 0;
  
    }
}

@media (min-device-width: 360px) and (max-device-width: 1240px) and (orientation: landscape) {
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
    }

    .center#contacts {
        transform: translate(-50%, -45%);
    }

    #content #about {
        display: block;
        position: absolute;
        width: 90%;
        font-size: 2rem;
        color: #333333;
        height: auto;
        text-shadow: 0px 1px 1px rgba(0,0,0,1);
    }

    #content #projects {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


    #content #projects span {
        /*height: 3rem;*/
        overflow: auto;
        color: #fff;
        font-size: 2rem;
        padding: 1rem;
        text-transform: lowercase;
        border: 5px solid;
        border-radius: 5rem;
        margin-right: 1rem;
        margin-left: 1rem;
        text-align: center;
        transition: 1s;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #background.projects {
        top: 6rem;
        height: 100%;
        margin: 0;
    }

    #background.about {
        top:0;
        height:6rem;
    }

    #background.contacts {
        top:0;
        height: 100%;
        width: 100%;
    }

    nav {
        position: fixed;
        top: 1.5rem;
        right:0;
        cursor: default;
        z-index: 3;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 2rem;
    }

    nav div#line {
        position: fixed;
        top: 10rem;
        left: 0;
        border-bottom: 1px solid #5c5c5c;
        padding-bottom: 2rem;
        height: 1rem;
        width: 100%;
        z-index: 0;
        
    }
}

/*@media (min-device-width: 768px) and (max-device-width: 1024px) and (max-width:900px) and (orientation: portrait) { /*mobile landscape*/
/*
}
*/
/*
@media screen and (max-width: 960px) {
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #content #projects {
        width: 50%;
        display:inline flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
*/
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center#contacts {
    transform: translate(-50%, -50%);
}
@media only screen and (min-device-width:1240px) { /* pc/laptop big window*/

    #content #projects {
        width: 75%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #content #projects span {
        /*height: 3rem;*/
        color: #fff;
        font-size: 2rem;
        padding: 1rem;
        text-transform: lowercase;
        border: 5px solid;
        border-radius: 5rem;
        margin-right: 1rem;
        margin-left: 1rem;
        text-align: center;
        transition: 1s;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #background.about {
        top:0;
        height:8rem;
    }
      
    #background.projects {
        top: 8rem;
        height: 100%;
        margin: 0;
    }

}

@media only screen and (min-device-width:1240px) and (max-width:500px){
    nav {
        position: fixed;
        top: 3rem;
        right:0;
        cursor: default;
        z-index: 3;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    



}

